!!!
%html
  %head
    %link{rel:"stylesheet", type:"text/css", href:"/stylesheets/reset.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/stylesheets/dialog.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/stylesheets/book-room-dialog.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/stylesheets/select-room-dialog.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/stylesheets/index.css"}

  %body
    #sections
      %section#sign-in
        %button.large Sign In With Google

      %section#room
        %h1 Room Name

        %button#book-room.large Book this room
        %button#end-meeting.large End this meeting

      %dialog#select-room-dialog
        .page
          %header
            %h1 Available Rooms
          %main
            %ol
        .page.room-name
          %header
            %h1 Room Name
          %main
            %form
              %input#room-name{type: 'text'}
              %br
              %button{type: 'submit'} Done

      %dialog#book-room-dialog
        .page
          %header
            %button.close.right Close
            %h1 Book this room
          %main
            %form
              %input#booker-name{type: 'text', placeholder: 'Type your name'}
              %br
              %button{type: 'submit'} Book Now

    %script{type:"text/javascript", src:"/javascripts/common.js"}
    %script{type:"text/javascript", src:"/javascripts/google-auth.js"}
    %script{type:"text/javascript", src:"https://apis.google.com/js/client.js?onload=handleClientLoad"}
    %script{type:"text/javascript", src:"/javascripts/available-rooms-list.js"}
    %script{type:"text/javascript", src:"/javascripts/dialog.js"}
    %script{type:"text/javascript", src:"/javascripts/rooms-store.js"}
    %script{type:"text/javascript", src:"/javascripts/schedule-service.js"}
    %script{type:"text/javascript", src:"/javascripts/select-room-dialog.js"}
    %script{type:"text/javascript", src:"/javascripts/book-room-dialog.js"}
    %script{type:"text/javascript", src:"/javascripts/state-controller.js"}
    %script{type:"text/javascript", src:"/javascripts/room-booker-service.js"}
    %script{type:"text/javascript", src:"/javascripts/index.js"}

    %script new IndexPageController();