body {
	color: #333;
	font-weight: 300;
}

body, button {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button {
	cursor: pointer;
}

button.large {
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	background: transparent;
	font-size: 2em;
	padding: 1em 0;
	width: 500px;
}

#sections {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;

	background: #26BF52; /* Green */
	transition: background .33s ease;

	text-align: center;
}

#sections.room-busy {
	background-color: red;
}

#sections > section {
	display: none;
}

#end-meeting {
	display: none;
}

.room-busy #end-meeting {
	display: block;
}

.room-busy #book-room {
	display: none;
}

.unauthorized #sign-in {
	display: inherit;
}

.room-available #room,
.room-busy #room {
	display: inherit;
}

#sign-in button.large {
	margin: 300px 0 0;
}

#room h1 {
	margin: 300px 0 0;
	color: #fff;
	font-size: 6em;
}

#room button.large {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
}