body {
	background: #26BF52; /* Green */
	color: white;
	font-weight: 300;
}

body, button {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button.large {
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	background: transparent;
	font-size: 2em;
	padding: 1em 0;
	width: 500px;
}

.popover {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
	width: 900px;

	transition: top .7s ease;
}

.popover.shown {
	top: 200px;
}

.popover header {
	background: white;
	border-bottom: solid 1px #eee;
	border-radius: 5px 5px 0 0;
	padding: .9em .6em;
	text-align: left;
}

.popover header button {
	background: none;
	border: none;
	color: #26BF52; /* Green */
	font-size: 1.2em;
}

.popover main {
	background: white;
	border-radius: 0 0 5px 5px;
	min-height: 500px;
}

#sign-in {
	text-align: center;
}

#sign-in button.large {
	margin: 300px 0 0;
}
