body {
	background: #26BF52; /* Green */
	color: #333;
	font-weight: 300;
}

body, button {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button {
	cursor: pointer;
}

button.large {
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	background: transparent;
	font-size: 2em;
	padding: 1em 0;
	width: 500px;
}

dialog {
	/* reset */
	display: block;
	background: none;
	border: none;
	padding: 0;

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
	width: 900px;

	transition: top .7s ease;
}

dialog.shown {
	top: 200px;
}

dialog header {
	background: white;
	border-radius: 5px 5px 0 0;
	border-bottom: solid 1px #eee;
	padding: .9em .6em;
	text-align: left;
}

dialog header h1 {
	font-size: 1.5em;
	text-align: center;
}

dialog header button {
	background: none;
	border: none;
	color: #26BF52; /* Green */
	font-size: 1.2em;
}

dialog main {
	background: white;
	border-radius: 0 0 5px 5px;
	min-height: 500px;
}

#sections {
	text-align: center;
}

#sections > section {
	display: none;
}

.unauthorized #sign-in {
	display: inherit;
}

.room-available #room {
	display: inherit;
}

#sign-in button.large {
	margin: 300px 0 0;
}

#room h1 {
	margin: 300px 0 0;
	color: #fff;
	font-size: 6em;
}

#select-room-dialog li {
	border-bottom: solid 1px #eeeeee;
	cursor: pointer;
	font-size: 1.2em;
	padding: .8em 2em;
	text-align: left;
}

#select-room-dialog li:hover {
	background: #f4f4f4;
	color: #26BF52;
}

#select-room-dialog .page.room-name input {
	font-size: 1.2em;
	margin: 3em 0;
}

#select-room-dialog .page.room-name button {
	background: none;
	border: none;
	color: #26BF52;
	font-size: 1.2em;
}